body {
      background-image: url('https://raw.githubusercontent.com/myxine-glutinosa/myxine-glutinosa.github.io/main/Picture11.jpg');
      background-repeat: repeat;
}

.header {
  padding: 6px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

mark { 
      background-color: pink
      color: black
}

* {
    font-family: helvetica;
  }
