body {
      background-image: https://github.com/myxine-glutinosa/myxine-glutinosa.github.io/blob/main/Picture1.jpg
      background-repeat: repeat
}

mark { 
      background-color: yellow
      color: black
}
