body {
      background-image: url('https://raw.githubusercontent.com/myxine-glutinosa/myxine-glutinosa.github.io/main/Picture11.jpg');
      background-repeat: repeat;
}

mark { 
      background-color: pink
      color: black
}

* {
    font-family: helvetica;
  }
